<app-header-not-transparent></app-header-not-transparent>
<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/elearning.png')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>E-learning</h1>
      <h3>Rejoignez nous et démarrez vos formation en ligne</h3>
      <br />
      <!-- <a routerLink="/formation" class="btn btn-outline-neutral btn-round"
        ><i class="fa fa-play"></i>Voir nos offres</a
      > -->
      <button
        type="button"
        routerLink="/login"
        class="btn btn-outline-neutral btn-round"
      >
        Connexion
      </button>
    </div>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <!--  <div class="container px-4 px-lg-5"> -->
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mt-3 mb-5">
        <label class="form-label">Rechercher</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="filterargs"
          placeholder="Nom formation"
        />
      </div>
    </div>
    <!-- </div> -->
    <div class="row">
      <div class="col-md-4" *ngFor="let f of formation | myfilter: filterargs">
        <div class="card mb-4 shadow-sm">
          <img
            [src]="f.imagef"
            class="bd-placeholder-img card-img-top"
            alt="image de formation"
            width="100%"
            height="225"
          />
          <div class="card-body">
            <h5 class="font-weight-bold card-title">
              <h3>{{ f.nom }}</h3>
            </h5>
            <p class="card-text font-weight-normal">
              {{ f.description }}
            </p>
            <p class="card-text font-weight-normal">
              <span class="font-weight-bold">Durée : </span> {{ f.dure }} Heure
            </p>
            <p class="card-text font-weight-normal">
              <span class="font-weight-bold">Prix :</span> {{ f.prix }} DT
            </p>
            <p class="card-text font-weight-normal">
              <span class="font-weight-bold">Formateur :</span>
              {{ f.nomformateur }}
            </p>
            <p>
              <button
                type="submit"
                class="btn btn-primary btn-round"
                (click)="detailFormation(f._id)"
              >
                Détails
              </button>

              <button
                *ngIf="displayButton(f._id)"
                type="button"
                (click)="addtoCart(f, f._id)"
                class="btn btn-outline-success btn-round"
              >
                <i class="nc-icon nc-cart-simple"></i>
              </button>
              <button
                *ngIf="role"
                type="button"
                class="btn btn-warning btn-round"
                (click)="upformation(f._id)"
              >
                Modifier
              </button>
              <button
                *ngIf="role"
                type="button"
                class="btn btn-danger btn-round"
                (click)="delformation(f._id)"
              >
                Supprimer
              </button>
            </p>
            <!--  <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-muted">9 mins</small>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
