<app-header-not-transparent></app-header-not-transparent>
<div class="container-fluid">
  <div class="mt-5 row">
    <div class="col-md-9">
      <img
        src="{{ environment?.api_url }}/uploads/{{ detailsformation?.imagef }}"
        class="img-fluid"
      />
      <h5 class="mt-2 card-title">
        <dt>{{ detailsformation?.nom }}</dt>
      </h5>
      <p class="card-text">Prix : {{ detailsformation?.prix }} DT</p>
      <p class="card-text">Formateur : {{ detailsformation?.nomformateur }}</p>
      <p class="card-text">{{ detailsformation?.description }}</p>
      <div *ngFor="let v of detailsformation?.listVideo">
        <div *ngIf="userconnected">
          <video width="320" height="240" controls *ngIf="ok">
            <source
              src="{{ environment.api_url }}/uploads/{{ v?.lienVideo }}"
              class="card-img-top"
              type="video/mp4"
            />
            Browser not supported
          </video>
        </div>

        <p class="card-text">{{ v?.name }}</p>
        <p>
          <button
            *ngIf="role"
            type="button"
            class="btn btn-warning btn-round"
            (click)="upvideo(v?._id)"
          >
            Modifier
          </button>
          <button
            *ngIf="role"
            type="button"
            class="btn btn-danger btn-round"
            (click)="delvideo(v._id)"
          >
            Supprimer
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
